[
  {
    "refresh_token": "{{ item.admin.refresh_token }}",
    "tenant_id": "{{ item.admin.tenant_id }}",
    "username": "{{ item.admin.username }}",
    "domain": "{{ item.admin.domain }}",
    "local_ip": "{{ item.local_ip }}"
  }
]
